@import "nav/nav.css";
@import "slider/slider.css";
@import "intro/intro.css";

* {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  color: #000;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;}

a {
  text-decoration: none;
}