.faq {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  &-title {
    padding-top: 60px;
  }
  &-subtitle {
    font-size: 40pt;
    line-height: 40pt;
    font-weight: 900;
    margin: 30px 0;
    text-transform: uppercase;
    color: #555;
  }
  &-title, &-question {
    color: #ff0000;
    font-size: 18pt;
    line-height: 24pt;
    text-transform: uppercase;
  }
  &-info {
    max-width: 600px;
    margin: auto;
  }
  &-question {
    margin-top: 40px;
  }
  &-answer {
    font-size: 10pt;
    font-weight: 300;
    padding: 0 0 5px 0;
    text-align: justify;
    max-width: 600px;
    margin: 0 auto;
  }
  &-gallery {
    overflow: auto;
    margin: 18px auto;
    padding: 0 0;
    max-width: 600px;

  }
  &-gallery-item {
    display: inline-block;
    padding: 10px;
    &-image {
      border: 5px solid transparent;
    }
    &-image:hover {
      border: 5px solid #555;
    }
  }
}

@media (max-width: 768px) {
  .faq {
    &-subtitle {
      font-size: 19pt;
      line-height: 19pt;
    }
    &-title, &-question {
      font-size: 15pt;
      line-height: 17pt;
    }
  }
}
@media (min-width: 992px) {
  .faq {
    &-title {
      padding-top: 60px;
      margin-top: 40px;
    }
  }
}