.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.carousel-caption {
  position: relative;
  right: 0;
  left: 0;
  text-align: inherit; }

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block; }

.carousel-indicators li {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #555555;
  text-indent: -9999px;
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px; }

.carousel-indicators .active {
  border: 2px solid red;
  background: red; }

.slider {
  width: 100%;
  overflow: hidden;
  position: relative; }

.slide {
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding: 0;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: contain; }
  .slide-first {
    background: #93887f url("../../img/slider/slide1.jpg") no-repeat top right;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: contain; }
  .slide-second, .slide-third, .slide-fourth, .slide-fifth {
    background: #93887f url("../../img/slider/slide2.gif") no-repeat top right;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: contain; }
  .slide-sixth {
    background: #93887f url("../../img/slider/slide6.jpg") no-repeat top right;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: contain; }
  .slide-seventh {
    background: #93887f url("../../img/slider/slide7.gif") no-repeat top right;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: contain; }
  .slide-logo {
    width: 960px;
    margin: auto;
    position: relative;
    overflow: visible;
    padding: 0; }
  .slide-logo-img {
    position: absolute;
    top: 10px;
    left: -70px;
    z-index: 60;
    width: 250px;
    border: 0; }
  .slide-content {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 57%;
    width: 50%; }
  .slide-subtitle {
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    margin-bottom: 2px; }
  .slide-subtitle-content {
    display: inline;
    color: #ffffff;
    background: #ff0000;
    padding: 6px 15px 15px 15px;
    margin-left: 0; }
  .slide-title {
    font-size: 30pt;
    line-height: 33pt;
    margin: 12px 0 4px 0;
    color: #555;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility; }
  .slide-title-content {
    display: inline;
    font-weight: 900;
    background: white;
    padding: 1px 15px;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    z-index: 100; }
  .slide-description {
    margin: 20px 0 0 130px;
    border: 10px solid #fff;
    padding: 5px 20px;
    background: #ffffff;
    max-width: 460px;
    position: absolute; }
  .slide-description-content {
    font-size: 10pt;
    line-height: 16pt;
    font-weight: 400;
    color: #000; }
  .slide-description-link {
    position: absolute;
    right: 90px; }
  .slide-description-details {
    border-radius: 0;
    height: auto;
    font-weight: 800;
    padding: 6px 16px;
    color: #ffffff;
    background: #ff0000;
    border: 1px solid #ff0000;
    text-transform: uppercase;
    display: inline-block;
    transform: skewY(-18deg) scale(0.8, 1) skewX(-9deg);
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in; }
  .slide-description-details:hover {
    color: #fff !important;
    border: 1px solid #555;
    background-color: #555;
    text-decoration: none; }

.highliting-words {
  color: #f00; }

/*# sourceMappingURL=slider.css.map */
