
@font-face {
    font-family: 'Proxima Nova';
    src: url('Proxima_Nova.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verveine';
    src: url('Verveine_Corp.otf');
    font-weight: normal;
    font-style: normal;
}