.header-mobile{
  background-size: cover;
  background-color: #fff;
  background-position: center center;
  color: #000;
  background-image: url("../../img/bg_header_mobile.jpg");
  min-height: 100vh;

  &-logo-img {
    display: block;
    max-width: 300px;
    margin: 20px auto 30px auto;
    width: 100%;
  }
  &-title {
    font-size: 32pt;
    line-height: 32pt;
    color: #555;
    text-transform: uppercase;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &-description {
    position: relative;
    font-size: 10pt;
    line-height: 12pt;
    color: #000;
    font-weight: normal;
    text-transform: none;
    text-align: center;
    margin: 20px auto;
    padding: 0 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &-description-link {
    position: relative;
    border: 1px solid #ff0000;
    background: #ff0000;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 20px auto;
    width: 260px;
    color: white;
    font-size: 20px;
  }
  &-description-details {
    color: white;
    text-decoration: none;
    &:hover{
      color: #fff;
    }
    &:visited{
      color: #fff;
    }
  }
}