#mainNav {
  background-color: #000;
  min-height: 55px;
}

#mainNav .navbar-toggler {
  min-height: 55px;
  top: 0;
  left: 0;
  position: absolute;
  font-size: 17px;
  right: 0;
  padding: 6px;
  padding-left: 20px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.navbar-toggler-icon-title {
  font-size: 17px;
  font-weight: bold;
}

.navbar-light .navbar-toggler-icon {
  background-image: none;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f00;
}

#mainNav.navbar-shrink .navbar-brand {
  font-size: 1.25em;
  padding: 12px 0;
}

.menu-logo {
  display: none;
  -webkit-transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  -ms-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.menu-icon {
  height: 24px;
}

.menu-container.container {
  margin-right: 0;
  padding-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-bottom: 0;
}

.nav-link {
  position: relative;
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #f00;
  bottom: 0;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

button,
button:active,
button:focus,
button:hover,
.btn,
.btn:active,
.btn:focus,
.btn:hover {
  outline: none;
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
    margin-top: 40px;
    padding-right: 0;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -ms-transition: 0.4s ease all;
    -o-transition: 0.4s ease all;
    transition: 0.4s ease all;
    margin-top: 0;
  }
  .nav-item {
    margin-left: 8px;
    margin-right: 8px;
  }
  #mainNav .navbar-nav .nav-item .nav-link, .nav-item.dropdown .nav-link {
    font-size: 11pt;
    font-weight: 500;
    color: #555;
    text-transform: uppercase;
    padding-right: 0;
    padding-left: 0;
  }
  .nav-link:hover {
    color: #f00;
  }
  .dropdown-toggle::after {
    border: none;
  }
  .dropdown-menu {
    background: rgba(122, 122, 122, 0.8);
    border-radius: 0;
    min-width: 200px;
  }
  .dropdown-item:hover {
    background: #f00;
  }
  .nav-dropdown-link {
    color: #fff;
    text-decoration: none;
    font-size: 9pt;
    font-weight: 700;
    text-transform: uppercase;
    padding: 7px 17px;
  }
  .nav-dropdown-link:hover {
    color: #fff;
    text-decoration: none;
  }
  .navbar-header {
    width: 10%;
  }
  .navbar-expand-lg .navbar-collapse {
    width: 90%;
    background: #fff;
    padding: 10px;
  }
  .nav-item-mobile {
    display: none;
  }

}

@media (max-width: 991px) {
  .nav-item-mobile {
    display: list-item;
  }
  .nav-item.dropdown {
    display: none;
  }
  .navbar-nav {
    height: 100vh;
    padding-top: 25px;
  }
  .navbar-toggler-icon {
    width: 19px;
    height: 19px;
  }

  .navbar-toggler:before {
    content: "";
    width: 100%;
  }

  .collapsing, .collapse.show {
    margin-left: 0;
    display: block;
    height: 100vh;
    width: 100vw;
    opacity: 0.9;
    position: absolute;
    background: black;
  }

  .fixed-top {
    padding-left: 0;
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    border: none;
    background: none;
    color: #fff;
    display: block;
    margin: 0;
    font-size: 35pt;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-top: 0;
  }
  .nav-link:hover {
    color: #fff;
  }
  .nav-item-social {
    display: none;
  }

}

@media (max-width: 450px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 30pt;
  }
}